/* FileUpload.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  input[type="file"] {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    max-width: 300px;
  }
  
  input[type="file"]:hover {
    cursor: pointer;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  progress {
    width: 100%;
    margin-top: 15px;
  }
  
  progress[value] {
    appearance: none;
    height: 20px;
    width: 200px;
    border: none;
    border-radius: 4px;
    background-color: #eee;
  }
  
  progress::-webkit-progress-bar {
    border-radius: 4px;
    background-color: #eee;
  }
  
  progress::-webkit-progress-value {
    border-radius: 4px;
    background-color: #007bff;
  }
  
  p {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
  }
  